body {
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 40px;
}
li
{
	float: left;
}
.navigation
{
		transform: translateX(50%,-50%);
		margin: 0;
		padding: 0;
 		position: fixed;
 	 	top: 0;
  		width: 100%;
  		overflow: hidden;
  		background-color:white;
  		color: black;
  		list-style-type: none;
}
}
.navigation li
{
	list-style: none;
	float: left;
}
.navigation li a
{
	position: relative;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color:	black;
	font-weight: bold;
}
.navigation li.active a
{
	background-color: #4CAF50;
	color: white;
}










		h1
		{	font-size: 2em;
			margin:0;
			padding-top: 5px;
			transform: translateX(16%);
			font-family: 'arial';
		}
		img
		{
  			display: block;
 			margin-left: auto;
  			margin-right: auto;
  			padding-top: 7%;

		}
		.centerimg 
		{
 			 margin: auto;
 			 height: 500px;
 		 	 width: 750px;
 			 border: 3px solid white; 
 	 		 padding: 10px;
		}
		.center 
		{
 			 margin: auto;
 		 	 width: 65%;
 			 border: 5% solid white; 
 	 		 padding: 10px;
		}
		p
		{
			font-family: "arial";
			line-height: 22px;
		}
		div
		{
			background-color: white;
		}